@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/Home/ButtonCounterPage.js"></script>

<p>Use this page to detail your site's privacy policy.</p>


<div class="row">
    <div class="col-12">
        <h1 class="display-4">Heremst be the count</h1>


        <p><span id="buttonClickCounter">@ViewBag.ButtonVal</span></p>
       
    </div>
</div>
